<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="/static/styles.css" rel="stylesheet">
        <link rel="icon" href="/static/pizza.png">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-bzjLLgZOhgXbSvSc5A9LWWo/mSIYf7U7nFbmYIB2Lgmuiw3vKGJuu+abKoaTx4W6" crossorigin="anonymous">

        <!-- Remember to add jquery script to be able to use it in your js files! -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% block script %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Pinocchio's Pizza</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'index' %}">Menu <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                    </li>
                  </ul>
                  {% block logout %}
                  <ul class="navbar-nav ml-auto mt-2">
                      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                  </ul>
                  {% endblock %}
            </div>

        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>


        <footer class="small text-center text-muted"> Allard 2020 </footer>

    </body>


</html>
